.pagination {
  display: flex;
  gap: 12px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.pageNumber,
.arrow {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 8px;
}


.pageNumber:disabled,
.arrow:disabled {
  cursor: default;
}

.pageNumber:hover,
.arrow:hover {
  background-color: gray;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
