.item {
  display: flex;
  inline-size: 100%;
  gap: 12px;
}

.title {
  font-size: 14px;
}

.extra {
  font-size: 12px;
  color: #6c7072;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wrapper {
  inline-size: 64px;
  block-size: 64px;
  background-color: #f2f4f5;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}
